* {
  box-sizing: border-box;
}
body {
  background-color: #D3D3D3;
}
blockquote {
  font-size: 3.2rem;
  color: #8A378A;
}
.container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 95%;
}
h1{
  font-size: 4rem;
  color: #000000;
}
h2{
  font-size: 2.4rem;
  color: #8A378A;
}
h3{
  font-size: 2.8rem;
  color: #A9A9A9;
}
h4{
  font-size: 1.8rem;
  color: #A9A9A9;
}
h5{
  font-size: 2.8rem;
  color: #A9A9A9;
}
header{
  background-color: #8A378A;
  margin-top: 1rem;
  padding: 2rem 12rem;
}
html {
font-size: 10px;
}
p {
  font-size: 1.8rem;
  margin-top: .5rem;
  line-height: 1.3;
  color: #000000;
}
@media screen and (min-width: 1000px){
  .container {
    }
}
@media screen and (min-width: 768px){
  .container {
    }
}
section {
  background-color: #ffffff;
  color: #8A378A;
  margin-top: 1rem;
  padding: 2rem 12rem;
}
.yellowsection{
  background-color:#FFF3D0;
  padding: 2rem 2rem;
  margin-top: 2rem;
}
.purplesection{
  background-color:#8a378a;
  padding: 2rem 2rem;
  margin-top: 2rem;
}
.personasection{
  background-color:#F0F0F0;
  padding: 2rem 2rem;
  margin-top: 2rem;
}
